.overflow-y-scroll{height: 100%;overflow-y: auto;overflow-x: hidden;}

.m-t-20{margin-top:20px;}
.m-t-100{margin-top:100px;}
.m-b-20{margin-bottom:20px;}
.m-b-30{margin-bottom:30px !important;}
.p-t-15{padding-top: 15px;}
.p-r-20{padding-right:20px;}

.g-6px{
  --bs-gutter-x: 6px;
  --bs-gutter-y: 6px;
}
.g-20px{
  --bs-gutter-x: 1.25rem;
  --bs-gutter-y: 1.25rem;
}

.gap-8 {gap: 8px;}
.gap-10 {gap: 10px;}
.gap-20 {gap: 20px;}
.gap-30 {gap: 30px;}
.gap-40 {gap: 40px;}

.text-lightgray{ color: #989898 !important;}
.max-w-100{ max-width: 100% !important;}
.font-sm{font-size: 12px; line-height: 1.42; color: #000;}

.box-shadow-none{box-shadow: none !important;}

.line{
  background-color: #f3f3f3; width: 100%; height: 10px;
}

.title-line {width: 48px; height: 2px; background-color: $dark;}

.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-60 {width: 60%;}

.fw-medium {font-weight: 500;}

.flex-shrink-0{flex-shrink: 0;}