// icons
[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  flex-shrink: 0;
}
.icon-play{
  width: 12px; height: 16px; background-image: url('../images/icon-play.svg');
}
.icon-gnb-1{
  width: 16px; height: 16px; background-image: url('../images/icon-gnb-1.png'); background-size: contain;
}
.icon-gnb-2{
  width: 16px; height: 16px; background-image: url('../images/icon-gnb-2.png'); background-size: contain;
}
.icon-gnb-3{
  width: 16px; height: 16px; background-image: url('../images/icon-gnb-3.png'); background-size: contain;
}
.icon-gnb-4{
  width: 16px; height: 16px; background-image: url('../images/icon-gnb-4.png'); background-size: contain;
}
.icon-search-btn{
  width: 40px; height: 40px; background-image: url('../images/icon-search-btn.png'); 
}

.icon-inp-01{
  width: 26px; height: 23px; background-image: url('../images/icon-inp-01.png'); 
}
.icon-inp-02{
  width: 23px; height: 23px; background-image: url('../images/icon-inp-02.png'); 
}
.icon-inp-03{
  width: 24px; height: 24px; background-image: url('../images/icon-inp-03.png'); 
}
.icon-inp-04{
  width: 35px; height: 22px; background-image: url('../images/icon-inp-04.png'); 
}

.icon-state-approval{
  width: 36px; height: 36px; background-image: url('../images/icon-state-approval.png'); 
}
.icon-state-companion{
  width: 36px; height: 36px; background-image: url('../images/icon-state-companion.png'); 
}
.icon-state-not-applied{
  width: 36px; height: 36px; background-image: url('../images/icon-state-not-applied.png'); 
}
.icon-state-wait{
  width: 36px; height: 36px; background-image: url('../images/icon-state-wait.png'); 
}

.icon-select-off{
  width: 8px; height: 5px; background-image: url('../images/icon-select-off.png'); 
}
.icon-pagination-left{
  width: 8px; height: 12px; background-image: url('../images/icon-pagination-left.png');
}
.icon-pagination-right{
  width: 8px; height: 12px; background-image: url('../images/icon-pagination-right.png');
}
.icon-accordion-off{
  width: 22px; height: 22px; background-image: url('../images/icon-accordion-off.png');
}
.icon-accordion-on{
  width: 22px; height: 22px; background-image: url('../images/icon-accordion-on.png');
}
.icon-g-close{
  width: 12px; height: 12px; background-image: url('../images/icon-g-close.png');
}
.icon-b-close{
  width: 12px; height: 12px; background-image: url('../images/icon-b-close.png');
}
.icon-w-arrow-bottom{
  width: 10px; height: 11px; background-image: url('../images/icon-w-arrow-bottom.png');
}
.icon-price{
  width: 48px; height: 50px; background-image: url('../images/icon-price.png');
}
.icon-date{
  width: 16px; height: 18px; background-image: url('../images/icon-date.png');
}
.icon-print{
  width: 26px; height: 24px; background-image: url('../images/icon-print.png');
}
.icon-inp-1{
  width: 25px; height: 25px; background-image: url('../images/icon-inp-1.png');
}
.icon-inp-2{
  width: 25px; height: 25px; background-image: url('../images/icon-inp-2.png');
}
.icon-plus {
  width: 12px;
  height: 12px;
  background-image: url("../images/icon-plus.png");
}
.icon-minus {
  width: 12px;
  height: 2px;
  background-image: url("../images/icon-minus.png");
}