// icons
[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  flex-shrink: 0;
}
.icon-play{
  width: 12px; height: 16px; background-image: url('../images/icon-play.svg');
}
.icon-gnb-1{
  width: 16px; height: 16px; background-image: url('../images/icon-gnb-1.png'); background-size: contain;
}
.icon-gnb-2{
  width: 16px; height: 16px; background-image: url('../images/icon-gnb-2.png'); background-size: contain;
}
.icon-gnb-3{
  width: 16px; height: 16px; background-image: url('../images/icon-gnb-3.png'); background-size: contain;
}
.icon-gnb-4{
  width: 16px; height: 16px; background-image: url('../images/icon-gnb-4.png'); background-size: contain;
}
.icon-search-btn{
  width: 40px; height: 40px; background-image: url('../images/icon-search-btn.png'); 
}

.icon-inp-01{
  width: 26px; height: 23px; background-image: url('../images/icon-inp-01.png'); 
}
.icon-inp-02{
  width: 23px; height: 23px; background-image: url('../images/icon-inp-02.png'); 
}
.icon-inp-03{
  width: 24px; height: 24px; background-image: url('../images/icon-inp-03.png'); 
}
.icon-inp-04{
  width: 35px; height: 22px; background-image: url('../images/icon-inp-04.png'); 
}

.icon-state-approval{
  width: 36px; height: 36px; background-image: url('../images/icon-state-approval.png'); 
}
.icon-state-companion{
  width: 36px; height: 36px; background-image: url('../images/icon-state-companion.png'); 
}
.icon-state-not-applied{
  width: 36px; height: 36px; background-image: url('../images/icon-state-not-applied.png'); 
}
.icon-state-wait{
  width: 36px; height: 36px; background-image: url('../images/icon-state-wait.png'); 
}
