.btn{
  width: 100%;
  height: 40px;
  display: inline-block;
  font-weight: 400; 
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #000;
  padding: 14px 18px 13px;
  font-size: 15px;
  line-height: 1;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &.btn-auto{
    width: auto;
    padding: 0;
  }
  &.btn-min{
    min-width: 80px;
  }
  &.btn-md{
    padding: 12px 18px;
  }
  &.btn-sm{
    padding: 9px 20px 8px;
    font-size: 14px;
  }
  &.round{
    border-radius: 60px;
  }
  &.min-width{
    min-width: 140px;
  }
  &.btn-green{
    background-color: $green !important;
    color: $white !important;
    border: 1px solid $green !important;
    &:disabled{
      background-color: #c9c9c9 !important;
      border: 1px solid #c9c9c9 !important;
      color: $white !important;
    }
  }
  &.btn-outline-green{
    background-color: $white !important;
    border:1px solid $green !important;
    color: $green !important;
  }
  &.btn-light-green{
    background-color: #cdebe7 !important;
    color: $green !important;
    border: 1px solid #cdebe7 !important;
  }
  &.btn-outline-dark{
    background-color: $white !important;
    border: 1px solid #111 !important;
    color: #111 !important;;
  }
  &.btn-dark{
    background-color: #111 !important;
    border: 1px solid #111 !important;
    color: $white !important;
  }
  &.btn-outline-gray{
    background-color: $white !important;
    border: 1px solid #ddd !important;
    color: #111 !important;
  }
  &.btn-blue{
    background-color: #0d4483 !important;
    border: 1px solid #0d4483 !important;
    color: $white !important;
    &:disabled{
      background-color: #c9c9c9 !important;
      border: 1px solid #c9c9c9 !important;
      color: $white !important;
    }
  }
  &.btn-excel{
    background-color: #cceae6 !important;
    border: 1px solid #cceae6 !important;
    color: #009881 !important;
  }
}


.btn-box {display: flex; flex-direction: column; gap: 20px;}
