.form-control {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  color: #777;
  background-color: #fff;
  line-height: 1;
  &.white {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  &::placeholder {
    color: #bbb;
  }

  // &:focus {
  //   outline: 1px solid #222;
  //   &::placeholder{ color: #222;}
  // }
  &[type="file"] {
    margin-top: 10px;
  }
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:disabled {
    background-color: #f5f5f5;
    color: #bbb;
    font-weight: 400;
    border: 1px solid #ddd;
  }
  &.form-textarea {
    overflow-y: hidden;
    line-height: 25.5px;
  }
  &.title {
    font-size: 20px;
    font-weight: 500;
    color: #111;
    padding: 7px 20px;
  }
}
.search-form {
  position: relative;
  .form-control {
    padding: 10px 20px;
  }
  .icon-search {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.form-password {
  .input-pw-wrap {
    position: relative;
    &.success {
      .view-pw {
        right: 54px;
      }
      .icon-success {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .view-pw {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .icon-success {
    display: none;
  }
}

.input-form {
  display: flex;
  align-items: center;
  .input-form-label {
    width: 80px;
    line-height: 1;
    flex-shrink: 0;
  }
  .form {
    width: 100%;
    display: flex;
    gap: 10px;
  }
}
.form-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &.scroll {
    max-height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 9px;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c0c0c0;
    }
    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
    }
  }
}
.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-file-custom {
  display: flex;
  align-items: center;
  gap: 10px;
  .file-name {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 12px 20px;
    color: #bbb;
    font-size: 16px;
    line-height: 1;
    height: 40px;
    &.select {
      color: #777;
    }
  }
  #fileLabel {
    height: 40px;
    display: inline-block;
    padding: 10px;
    color: #111;
    cursor: pointer;
    line-height: 1;
    padding: 12px 16px 12px 15px;
    border: 1px solid #111;
    border-radius: 20px;
    flex-shrink: 0;
  }
  .fileLabel {
    &.round {
      border-radius: 20px !important;
    }
  }
  #fileInput {
    display: none;
  }
}
.exe-input {
  position: relative;
  border: solid 1px #ebebeb;
  border-radius: 4px;
  .form-control {
    padding: 10px 65px 10px 20px;
    border: 0;
    height: 40px;
  }
  .exe-txt {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #999;
    font-size: 13px;
  }
  &.lg {
    .form-control {
      padding: 8px 130px 10px 20px;
    }
  }
}
.exe-lg-input {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  .form-control {
    padding: 10px 65px 10px 20px;
    border: 0;
    height: 140px;
    border: solid 1px #ebebeb;
    border-radius: 4px;
  }
  .exe-txt {
    color: #999;
    font-size: 13px;
    flex-shrink: 0;
    line-height: 1.5;
  }
  &.lg {
    .form-control {
      padding: 8px 130px 10px 20px;
    }
  }
}
.textarea-form {
  height: 170px;
  line-height: 1.4;
}
