.pagination{
  display: flex; align-items: center; justify-content: center; margin-top: 37px; gap: 29px;
}
.page-link{ 
  color: #bbb; font-size: 16px; font-weight: 500;
}
.page-link.active, .active {
  >.page-link{
    border-bottom: 2px solid #000; color: #000;
  }

}
