//datepicker
.input-icon {
  padding: 9px 12px; border-radius: 4px; border: 1px solid #EEF1F3; display: flex; justify-content: space-between;
  &.sm{
    padding: 5px 12px; 
    .datepicker{
      font-size: 15px; line-height: 1; max-width: 110px;
    }
    @include media-breakpoint-down(lg){
      padding: 4px 8px;
      .datepicker{
        font-size: 13px; max-width: 80px;
      }
      .icon-calendar{ width: 18px; height: 18px;}
    }
  }
  .datepicker {
    border: 0; width: 100%;
  }
  &.slash{
    position: relative;
    &::before{ content: "/"; position: absolute; left: -15px; top: 50%; transform: translateY(-50%); font-size: 14px; color: #999; font-weight: 600;}
    @include media-breakpoint-down(lg){
      &::before{ font-size: 12px; left: -9px;} 
    }
  }
  
}
.custom-select{
  position: relative;
  &::after {
    content: ''; position: absolute; top: 50%; right: 16px; transform: translateY(-50%);
    background-image: url('../images/icon-select-off.png'); width: 8px; height: 5px; background-size: cover;
  }
  &.disabled{
    &::after{ content: none;}
  }
  .form-select{
    width:100%; height: 40px; padding: 0 15px; border: 1px solid #ebebeb;color: #777; font-size: 16px; line-height: 1; border-radius: 4px; background-color: #fff;  -webkit-appearance: none; -moz-appearance: none; appearance: none;
    &:disabled{ 
      border: solid 1px #ddd;background-color: #f5f5f5;
    }
    &.round{
      border-radius: 20px;
    }
  }
}
//selectbx 커스텀
.select-wrap {
  width: 100%; position: relative;
  .select-btn {
    width: 100%; padding: 12px 20px 11px; border: 1px solid #ebebeb; display: flex; align-items: center; justify-content: space-between; color: #777; font-size: 16px; line-height: 1; border-radius: 4px; background-color: #fff;
  }
  .optionlist {
    border: 1px solid #111; border-radius:4px; position: absolute; top: 54px; background-color: #fff; display: none; z-index: 1; padding: 20px 10px;
    .optionitem {
      padding: 10px; cursor: pointer; color: #777; font-size: 16px; line-height: 1; position: relative;
      &.active {
        color: #009881;
        &::before{
          content:""; width: 100%; height: 100%; background-color: #fafafa; border-radius: 36px; position: absolute; top: 0; left: 0; z-index: -1;
        }
      }
    }
  }
  &.show {
    .select-btn {
      border: 1px solid #111; color: #111;
      .icon-select-arrow{background-image: url('../images/icon-select-on.svg');}
    }
    .optionlist {display: block; width: 100%;}
  }
}
.birth-date{
  display: flex; gap: 18px;
}