.table-wrap {
  border: solid 1px #ebebeb;
  border-radius: 8px;
  margin-top: 20px;
}
.table-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  color: #111;
  margin-top: 33px;
}
.table {
  width: 100%;
  table-layout: fixed;
  .table-scroll {
    overflow: auto;
  }
  &.lg-pd {
    th {
      padding: 33px 20px;
    }
    td {
      padding: 38px 15px;
    }
  }
  thead {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    th {
      font-size: 16px;
      line-height: normal;
      padding: 20px;
      font-weight: 700;
      color: #222;
    }
    .sub-head {
      font-weight: 500;
      padding-top: 0;
      text-align: center;
    }
  }
  tbody {
    tr {
      td {
        padding: 20px 15px;
        line-height: normal;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        color: #555;
      }
    }
  }

  &.table-row {
    background-color: #fff;
    th {
      padding: 22px 30px 22px;
      border: 0;
      background-color: #fafafa;
      font-weight: 500;
      line-height: 1;
      font-size: 16px;
      &.row-col {
        padding: 0 10px;
        text-align: center;
        border-left: 1px solid #ebebeb;
      }
    }
    td {
      height: 60px;
      padding: 10px 30px;
      border: 0;
      font-weight: 400;
      white-space: wrap;
      line-height: 1;
      color: #777;
      font-size: 14.5px;
    }
    tr {
      border-bottom: 1px solid #ebebeb;
      &:first-child {
        th {
          border-radius: 8px 0 0 0;
        }
      }
      &:last-child {
        border-bottom: 0;
        th {
          border-radius: 0 0 0 8px;
        }
      }
    }
    .th-txt {
      display: flex;
      align-items: center;
      gap: 10px;
      &.flex-column {
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
      }
      .exe-txt {
        color: #999;
        font-size: 13px;
        line-height: 1;
      }
    }
  }
  &.th-table {
    th {
      font-size: 14.5px;
      background-color: #fafafa;
      padding: 13px 10px;
    }
    td {
      font-size: 14.5px;
      color: #777;
      padding: 13px 10px;
    }
    tbody {
      td {
        border-top: 0;
        border-bottom: 1px solid #ebebeb;
      }
    }
  }
  &.notice {
    tr {
      &.notification {
        background-color: #f5f5f5;
        &:hover {
          background-color: #f5f5f5;
         
        }
       
      }
      &:hover {
        background-color: #fafafa;
        .title {
          text-decoration: underline;
        }
        .table-object{
          text-decoration: underline;
        }
      }
      &:first-child {
        border-top: 1px solid #000;
        td {
          border-top: 0;
        }
      }
    }
    td {
      padding: 32px 15px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  }
}
.table-scroll {
  height: 250px;
  overflow: auto;
  border: 1px solid #ebebeb;
  border-radius: 8px;
}

.table-desc {
  .info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 13px;
    .date {
      font-size: 16px;
      color: #999;
    }
  }
}
.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.none-data {
  padding: 120px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #666;
}
