.btns-sign {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  flex-shrink: 0;
}

.img-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preveiw-img {
  width: 534px;
  height: 240px;
  margin: 20px 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-top: 30px;
}

.table-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  &.border-head {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }

  .text-green {
    color: $green;
  }

  .btn-group {
    margin-top: 0;
  }

  .case {
    display: flex;
    align-items: center;
    gap: 32px;

    p {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 100%;
        background-color: #ebebeb;
        left: -16px;
      }

      &:first-child {
        &::before {
          content: none;
        }
      }
    }

    &.border-case {
      .form-check-label {
        font-size: 16px;
        margin-left: 10px;
        color: #999;
      }

      p {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 11px;
          background-color: #cbced2;
          left: -16px;
        }
      }
    }
  }
}

.ag-grid {
  width: 100%;
  max-height: auto;
}

.input-grid {
  display: flex;
  align-items: center;
  gap: 8px;
}

.email-wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}

.success-msg {
  font-size: 15px;
  color: #4285f4;
  margin-top: 10px;
}

.fail-msg {
  font-size: 15px;
  color: #fe3b30;
  margin-top: 10px;
}

.table-mode {
  border: 1px solid #ebebeb;
  border-radius: 8px;

  .table-head {
    display: flex;
    background-color: #fafafa;
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;

    .table-head__tr {
      text-align: center;
      padding: 23px 0 22px;
      font-size: 14.5px;
      font-weight: 500;
    }
  }

  .table-body {
    .table-body__row {
      display: flex;
      border-bottom: 1px solid #ebebeb;
    }

    .table-body__td {
      text-align: center;
      padding: 23px 8px;
      font-size: 15px;
      color: #777;
    }
  }

  &.role {
    .table-head {
      .table-head__tr {
      }
    }

    .table-body {
      height: 636px;
      overflow-y: auto;

      .table-body__row {
        justify-content: space-between;
      }

      .table-body__td {
      }

      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #c0c0c0;
      }

      &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
      }
    }
  }

  &.api {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);

    .table-head {
      .table-head__tr {
        padding: 13px 0;
      }
    }

    .table-body {
      height: 210px;
      overflow-y: auto;

      .table-body__td {
        padding: 13px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #c0c0c0;
      }

      &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
      }
    }
  }

  &.infra {
    .table-head {
      justify-content: inherit;

      .table-head__tr {
      }
    }

    .table-body {
      height: 636px;
      overflow-y: auto;

      .table-body__td {
      }

      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #c0c0c0;
      }

      &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
      }
    }
  }
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-60 {
  width: 60%;
}

.width-65 {
  width: 65%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.width-85 {
  width: 85%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}

.font-sm {
  font-size: 13px;
}

.text-green {
  color: #009881 !important;
}

.text-blue {
  color: #4285f4 !important;
}

.text-danger {
  color: #fe3b30 !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px;
}

.text-underline {
  text-decoration: underline;
}

.infra-info {
  width: 100%;
  height: 243px;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.half {
  display: flex;
  align-items: center;
  gap: 24px;

  .after {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 100%;
      background-color: #ebebeb;
      left: -12px;
    }
  }
}

.modal-form-title {
  font-size: 24px;
  font-weight: bold;
  color: #111;
}

.modal-form-desc {
  font-size: 15px;
  color: #444;
  margin-top: 14px;
}

.reject-form {
  height: 160px;
  margin-top: 14px;
}

.badge {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 24px;
  border-radius: 15px;

  &.w-auto {
    width: auto;
    padding: 0 15px;
  }

  &.badge-dark {
    background-color: #0c2340;
  }

  &.badge-blue {
    background-color: #4285f4;
  }

  &.badge-green {
    background-color: #009881;
  }

  &.badge-danger {
    background-color: #fe3b30;
  }

  &.badge-orange {
    background-color: #f06314;
  }

  &.badge-purple {
    background-color: #6f43d6;
  }

  &.badge-lg {
    height: 30px;
    font-size: 15px;
  }
}

.nav-tabs {
  margin-top: 40px;
  gap: 45px;

  .nav-item {
    padding: 0;
  }

  .nav-link {
    font-size: 30px;
    font-weight: 700;
    color: #bbb;
    padding: 20px 0;
    border-right: 0;
    display: flex;
    align-items: center;
    gap: 15px;

    &.active {
      border-color: transparent;
      border-bottom: 3px solid #000;
      color: #000;
    }
  }
}

.api-search {
  width: 720px;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 70px auto 55px;
}

.guide-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  .guide-content {
    width: calc(33.3% - 27px);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 6px 8px 0 rgba(0, 0, 0, 0.05);

    .btn-group {
      display: flex;
      gap: 0;
      background-color: #f8f8f8;
      border-radius: 0 0 8px 8px;
      margin-top: 20px;
      border-top: 1px solid #ddd;

      .btns {
        width: 50%;
        height: 60px;
        padding: 18px 0;
      }
    }
  }
}

.guide-content__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 35px;
}

.guide-content__body {
  padding: 0 30px 0;

  .desc {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #999;

    .after {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 100%;
        background-color: #ebebeb;
        left: -10px;
      }
    }
  }

  .move-link {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    line-height: 1.5;

    &:hover {
      text-decoration: underline;
    }
  }
}
