//  로그인 -------
.login-wrap {
  position: relative;
  background-color: #fff !important;
  padding: 0 !important;
}
.sign-container {
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto 0;
  padding: 2.5% 0;
  .content {
    display: flex;
    min-height: calc(100vh - 300px) !important;
    flex-direction: column;
    row-gap: 49px;
    align-items: center;
    .sign-content {
      max-width: 600px;
      width: 100%;
      .sign-box {
        width: 100%;
        padding: 44px 49px;
        border: 1px solid $border-color;
        border-radius: 20px;
        .sign-title {
          margin-bottom: 55px;
          text-align: center;
          font-size: 30px;
          font-weight: 500;
        }
        .link-line {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 30px;
          a {
            color: #808080;
            font-size: 14px;
            text-decoration: underline;
          }
        }
        .btn-green {
          margin-top: 49px;
          width: 100%;
          height: 54px;
          border-radius: 10px;
          font-size: 18px;
          font-weight: 500;
        }
        .find-box {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          margin-top: 50px;
          font-size: 14px;
          color: #606060;
          text-align: center;
          strong {
            color: $green;
            font-weight: 400;
            text-decoration: underline;
          }
        }
        .input-form {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 14px;
          & + .input-form {
            margin-top: 30px;
          }
          .input-form-title {
            font-size: 14px;
            color: #222;
          }
          .form-control {
            height: 48px;
            border-radius: 10px;
          }
        }
      }
      .info-text {
        display: flex;
        align-items: center;
        color: #606060;
        font-size: 14px;
        line-height: 16px;
        &::before {
          display: inline-block;
          margin-right: 10px;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: $black;
          content: "";
        }
      }
    }
  }
  footer {
    position: static;
    padding: 0 26px;
    margin-top: 15%;
    border-top: 0;
    background-color: #fff;
    .footer {
      flex-direction: column;
    }
    .flex-wrap {
      gap: 0;
    }
    .main-container {
      width: 100%;
    }
    .custom-select {
      display: none;
    }
    .company-info {
      p {
        font-size: 12px;
      }
    }
  }
}
