.visual {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
  @media screen and (min-width: 1921px){
    padding:0;
  }
}
.main-bg {
  width: 100%;
  height: 560px;
  background-image: url("../images/main-banner.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 16px;
  @media screen and (min-width:1921px) {
    height: 720px;
  }
  .text-box {
    position: absolute;
    top: 87px;
    left: 140px;
    @media screen and (min-width:1921px) {
      top: 181px;
    }
    .title {
      font-size: 70px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.6px;
      color: #fff;
    }
    .desc {
      font-size: 24px;
      letter-spacing: -0.5px;
      color: rgba(255, 255, 255, 0.8);
      margin-top: 40px;
    }
  }
  .img {
    position: absolute;
    top: 76px;
    right: 233px;
    @media screen and (min-width:1921px) {
      top: 189px;
      right: 225px;
    }
  }
}
.main-swiper {
  margin-top: -130px;
  padding: 35px 70px 85px !important;
  @media screen and (min-width:1921px) {
    padding: 35px 70px 225px !important;
  }
  .swiper-slide{
    width: 480px;
  }
  .card {
    height: 300px;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 2px 3.5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    position: relative;
    transition: all 0.5s;
    .title {
      font-size: 30px;
      font-weight: 700;
      color: #000;
      margin-bottom: 20px;
    }
    .desc {
      font-size: 18px;
      color: #444;
      line-height: 1.44;
    }
    .more-btn {
      width: 90px;
      height: 46px;
      font-size: 16px;
      font-weight: 500;
      color: #111;
      padding: 0;
      border-radius: 30px;
      border: 2px solid #111;
      margin-top: 60px;
    }
    .img {
      position: absolute;
      bottom: 40px;
      right: 40px;
    }
    &:hover {
      background-color: #009982;
      margin-top: -35px;
      transition: all 0.5s;
      .title {
        color: #fff;
      }
      .desc {
        color: #fff;
      }
      .more-btn {
        color: #fff !important;
        border: 2px solid #111;
        background-color: #111 !important;
      }
    }
  }
  // .swiper-slide-active {
  //   .card {
  //     background-color: $green;
  //     margin-top: -35px;
  //     transition: all 0.5s;
  //     .title {
  //       color: #fff;
  //     }
  //     .desc {
  //       color: #fff;
  //     }
  //     .more-btn {
  //       color: #fff !important;
  //       border: 2px solid #111;
  //       background-color: #111 !important;
  //     }
  //   }
  // }
  .swiper-button-prev{
    width: 54px;
    height: 54px; 
    background-image: url('../images/left-arrow.png');
    background-size: cover;
    left: 30px;
    top: 35%;
    &::after{
      content: none;
    }
    &.swiper-button-disabled{
      opacity: 0;
    }
  }
  .swiper-button-next{
    width: 54px;
    height: 54px; 
    background-image: url('../images/right-arrow.png');
    background-size: cover;
    right: 30px;
    top: 35%;
    &::after{
      content: none;
    }
    &.swiper-button-disabled{
      opacity: 0;
    }
  }
  .page-nav {
    width: 100%;
    max-width: 1920px;
    margin: 60px auto 0;
    display: flex;
    align-items: center;
    gap: 25px;
    .swiper-pagination {
      width: auto;
      display: flex;
      position: static;
      text-align: left;
      .swiper-pagination-bullet {
        width: 30px;
        height: 4px;
        background-color: #e0e0e0;
        margin: 0 5px;
        border-radius: 0;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          background-color: #000;
        }
      }
    }
  }
  .swiper-toggle{
      &.active{
        .icon-play{
            background-image: url('../images/icon-pause.png');
        }
      }
  }
}
