.notice-container {
  padding: 20px;
  .notice-head {
    .notice-head__title {
      font-size: 30px;
      font-weight: 500;
      color: #202020;
      margin-bottom: 20px;
    }
    .notice-head__info {
      display: flex;
      align-items: center;
      gap: 21px;
      p {
        font-size: 16px;
        color: #6e6e6e;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -10px;
          width: 1px;
          height: 12px;
          background-color: #ddd;
        }
        &:first-child {
          &::before {
            content: none;
          }
        }
      }
    }
  }
  .question-object {
    padding-top: 60px;
    font-weight: 500;
    font-size: 16px;
    color: #222;
    line-height: 1.5;
  }
  .notice-content {
    margin: 60px 0;
    p {
      font-size: 16px;
      color: #222;
      line-height: 1.5;
    }
  }
  .download-wrap {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      font-size: 16px;
      color: #222;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.accordion-wrap {
  border-top: 1px solid #000;
  li {
    border-bottom: 1px solid #ddd;
  }
  .accordion-head {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 32px 0;
    .question {
      width: 15%;
      padding: 0 15px;
    }
    .title {
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 500;
      color: #222;
      padding: 0 15px;
      gap: 30px;
      p{line-height: 1.4;}
    }
    .icon-accordion-off {
      transition: all 0.5s;
    }
    &.active {
      .icon-accordion-off {
        background-image: url("../images/icon-accordion-on.png");
        transform: rotate(360deg);
        transition: all 0.5s;
      }
    }
  }
  .accordion-content {
    display: none;
    padding: 32px 15px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    .desc {
      width: 85%;
      margin-left: auto;
      p {
        line-height: 1.63;
        color: #222;
        font-family: "Pretendard" !important;
        span {
          font-family: "Pretendard" !important;
        }
        li {
          font-family: "Pretendard" !important;
        }
        b {
          font-family: "Pretendard" !important;
        }
        strong {
          font-family: "Pretendard" !important;
        }
      }
    }
  }
}

.btn-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  gap: 10px;
  input[type="radio"] {
    display: none;
    &:checked + label {
      color: #fff;
      border: 1px solid #202020;
      background-color: #202020;
    }
  }
  label {
    font-size: 16px;
    font-weight: 500;
    color: #777;
    border-radius: 20px;
    border: solid 1px #e7e7e7;
    background-color: #fff;
    padding: 11px 19px;
    cursor: pointer;
  }
}
