.sub-visual{
    width: 100%;
    height: 320px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 75px;
    p{
        font-size: 40px; font-weight: bold;
        color: #fff;
    }
    &.plan{
        background-image: url('../images/plan-visual.png');
    }
}
.filter{
  width:980px; display: flex; align-items: center; justify-content: space-between; background-color: #fff; border-radius: 30px; padding: 10px;
  .form-control{
    border-radius: 0; border:0;  border-left: 1px solid #d2d2d2;
  }
  .custom-select{
    .form-select{
      width: 145px; 
      border: 0; 
      border-radius: 0;
      font-size: 16px; 
      color: #222;
      border-right: 1px solid #d2d2d2;
      padding: 0 20px;
    }
    &::after{
      right: 22px;
    }
  } 
  .search-btn{
    width: 410px; display: flex; align-items: center; justify-content: space-between;
  }
}
.main-container{
    width: 1260px; padding: 80px 0 120px; margin: 0 auto;
}
.content-body{
  // 컨텐츠 안에 들어가있는 필터
  .filter{
    width: 780px; border: 1px solid #ddd; margin: 0 auto;
    .custom-select{
      flex-shrink: 0;
    }
    .search-btn{
      width: 100%;
    }
    .form-control{
      border-left: 0;
    }
  }

  & + .content-body{
    margin-top: 85px;
  }
  .content-body__title{
    font-size: 30px; 
    font-weight: 700; 
    color: #222; 
    margin-bottom: 35px;
    &.note{
      margin-top: 40px; margin-bottom: 14px; font-size: 18px;
    }
  }
  .content-body__card{
      min-height: 200px;
      padding: 40px;
      border-radius: 20px;
      border: solid 1px #ebebeb;
      background-color: #fff;
      &.detail-page{
        .row + .row{ margin-top: 40px;}
      }
      &.price{
        border: solid 2px #0ba785;
      }
      .table-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
          &.border-head {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
          }
          .btn-group {
            margin-top: 0;
          }
          .case {
            display: flex;
            align-items: center;
            gap: 20px;
            p {
              position: relative;
              color: #555;
              font-size: 15px;
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 11px;
                background-color: #ebebeb;
                left: -10px;
              }
              &:first-child {
                &::before {
                  content: none;
                }
              }
            }
          }
      }
  }
  .card-head{
    display: flex; align-items: center; justify-content: space-between;
    border-bottom: 1px solid #ddd; padding: 30px 40px;
    .card-head__title{
      font-size: 24px; font-weight: bold; color: #222;
    }
    .card-head__desc{
      color: #0ba785;
    }
  }
  .card-content{
    padding: 30px 40px;
  }
}
.select-content{
  & + .select-content{
    margin-top: 84px;
  }
}
.select-content__head{
  border-bottom: 1px solid #0d0d14; padding-bottom: 12px;
  .form-check-label{
    display: flex; align-items: center; gap: 8px;  font-size: 18px; font-weight: 700; color: #000;
  }
}
.select-content__body{
  padding-left: 40px; border-left: 1px solid #eff2f6; margin-top: 20px;
  display: flex; flex-direction: column; gap: 24px;
  li{
    display: flex; align-items: center; gap: 15px;
    .form-control{
      border:0;
      border-bottom: 1px solid #ddd; 
      padding: 10px 0; 
      font-size: 15px;
      color: #000;
      border-radius: 0;
    }
    .price-input{
      border-bottom: 1px solid #ddd;
      width: 130px;
      display: flex; 
      align-items: baseline;
      .form-control{
        border-bottom: 0;
        text-align: right;
        font-size: 15px;
        color: #000;
      }
      p{
        font-size: 15px;
        color: #000;
      }
      &.active{
        border-bottom: 1px solid #000;
        .form-control{
          font-weight: 700;
        }
        p{
          font-weight: 700;
        }
      }
    }
  }
}
.service-content{
  .service-content__body{
    display: flex; flex-direction: column; gap: 15px;
    li{
      display: flex; align-items: center; gap: 9px; border-bottom: 1px solid #ddd; padding-bottom: 15px;
      &:last-child{border-bottom: 0; padding-bottom: 0;}
      .form-control{
        padding: 10px 17px;
        &::placeholder{
          color: #808080;
        }
      }
      .form-select{
        color: #808080;
      }
      .price-input{
        border-bottom: 1px solid #ddd;
        width: 130px;
        display: flex; 
        align-items: baseline;
        .form-control{
          border: 0;
          border-bottom: 0;
          text-align: right;
          font-size: 15px;
          color: #000;
        }
        p{
          font-size: 15px;
          color: #000;
        }
        &.active{
          border-bottom: 1px solid #000;
          .form-control{
            font-weight: 700;
          }
          p{
            font-weight: 700;
          }
        }
      }
      .btns-sign{
        margin-left: 21px;
      }
    }
  }
}

.status-color{
  display: flex; align-items: center; justify-content: end; gap: 10px; margin-bottom: 15px;
  p{ font-size: 14px; font-weight: 500; color: #222;}
  .badge-list{
    display: flex; align-items: center; gap: 6px;
  
  }
}
.status-tab{
  width: 100%; display: flex; align-items: center; gap: 20px; margin-bottom: 65px;
  .tab{
    width: calc(25% - 15px);
    border-radius: 10px;
    box-shadow: 1.5px 2.6px 6px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #ebebeb;
    background-color: #fff;
    padding: 30px 30px 40px 30px;
    &.success{
      background-color: #e3f4f1;
    }
    &.active{
      border: 1px solid #00b8a3;
    }
  }
  .status-tab__head{
    display: flex; align-items: center; justify-content: space-between;
    p{
      font-size: 16px; font-weight: 700; color: #333;
    }
  }
  .status-tab__content{
    margin-top: 36px; display: flex; align-items: center; justify-content: space-between;
    .check{
      display: flex; align-items: center; gap: 10px;
      p{font-size: 18px; font-weight: 500;}
    } 
    .date{
      font-size: 12px; font-weight: 500; color: #999;
    }
  }
}

.api-wrap{
  margin-top: 65px;
  .api-wrap__head{
    width:100%; height: 65px; display: flex; align-items: center; justify-content: space-between;
    .title{
      font-size: 20px; font-weight: 700; color: #222;
    }
    .cnt{
      font-size: 15px; font-weight: 500; color: #999;
      span{ color: #222; }
    }
  }
}
.api-wrap-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 18px;
  .more{
    font-size: 16px; font-weight: 500; color: #111; display: flex; align-items: center; gap:15px;
    .arrow{
      width: 24px; height: 24px; background-color: #000; border-radius: 50%; display: flex; align-items: center; justify-content: center;
    }
  }
}
.api-wrap__list{
  border: 1px solid #dadada; border-radius: 8px; height: 670px; overflow: auto;
  &::-webkit-scrollbar {
    width: 9px;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
  }
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  .cell{
    padding: 0 15px; font-size: 15px; color: #555;
  }
  .flex-cell{
    display: flex; align-items: center; justify-content: space-between; gap: 40px;
    p{
      width: 90%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }
    i{ flex-shrink: 0;}
  }
  .api-list__head{
    display: flex; align-items: center; border-bottom:  1px solid #000; padding: 24px 15px; font-size: 15px; color: #222; font-weight: 700;
  }
  .api-list__content{
    padding: 0 15px 20px;
    .slide-box{
      &.active{
        .icon-accordion-off{
          background-image: url('../images/icon-accordion-on.png');
        }
      }
    }
    .api-list__title{
      display: flex; align-items: center; padding: 18px 0; border-bottom: 1px solid #ddd;
    }
    .api-list__desc{
      display: none;
      li{
        display: flex; align-items: flex-start; justify-content: space-between; padding: 20px 15px; background-color: #fafafa; border-bottom: 1px solid #ddd; gap: 15px;
        .form-check{
          flex-shrink: 0; padding-right: 0;
        }
        .desc{
        color: #777;
        }
        a{
          flex-shrink: 0;
        }
      }

    }
  }
  .api-result__content{
    padding: 0 15px 20px;
    .slide-box{
      &.active{
        .icon-accordion-off{
          background-image: url('../images/icon-accordion-on.png');
        }
      }
    }
    .api-result__title{
      display: flex; align-items: center; justify-content: space-between; padding: 24px 0; border-bottom: 1px solid #ddd;
     
    }
    .api-result__desc{
      li{
        display: flex; align-items: flex-start; justify-content: space-between; padding: 20px 15px; background-color: #fafafa; border-bottom: 1px solid #ddd; gap: 15px;
        .form-check{
          flex-shrink: 0; padding-right: 0;
        }
        .desc{
        color: #777;
        }
        a{
          flex-shrink: 0;
        }
      }

    }
  }
}

.estimated-price{
  display: flex; align-items: center; justify-content: space-between;
  .left-content{
    display: flex; flex-direction: column; gap: 22px;
    .price{
      display: flex; align-items: center; gap: 20px;
      p{
        font-size: 36px; font-weight: 700; color: #000;
      }
    }
    .exe{
      display: flex; align-items: center; gap: 11px;font-size: 16px; color: #000;
    }
  }
  .right-content{
    display: flex; align-items: center; gap: 40px;
    button{
      width: 210px; height: 60px; border-radius: 12px; background-color: #0ba785; color: #fff; font-size: 24px; font-weight: bold;
    }
    p{
      display: flex; flex-direction: column; gap: 12px; color: #000; font-weight: 500;
    }
  }
}

.slide-select{
  padding: 0 30px;
  .product-swiper{
    padding: 30px 0 !important;
    .swiper-slide{
      width: auto !important;
      &.active{
        .btn{
          background-color: #009881;color: #fff;
        }    
      }
    }
    .btn{
      width: auto; background-color: #edf5f3;color: #000;
    }
    .swiper-button-prev{
      width: 40px; height: 40px; background-image: url('../images/swiper-right.png'); background-size: cover; transform: rotate(180deg); top: 52px; left: 0;
      &.swiper-button-disabled{
        background-image: url('../images/swiper-right-dis.png'); opacity: 1;
      }
      
      &::after{
        content: none;
      }
    }
    .swiper-button-next{
      width: 40px; height: 40px; background-image: url('../images/swiper-right.png'); background-size: cover;top: 52px; right: 0;
      &.swiper-button-disabled{
        background-image: url('../images/swiper-right-dis.png'); opacity: 1;
      }
      &::after{
        content: none;
      }
    }
    
  }
}