footer {
  width: 100%;
  background-color: #f9f9f9;
  padding: 30px 80px;
  border-top: 1px solid #ebebeb;
  .main-container{
    padding: 0;
  }
  .footer{
    display: flex; gap: 15px;
  }
  .img {
    width: 40px;
    margin-bottom: 12px;
  }
  .company-info {
    display: flex;
    align-items: center;
    gap: 5px;
    p {
      font-size: 12px;
      color: #666;
      line-height: 18px;
    }
  }
  .copyright {
    font-size: 12px;
    color: #666;
    line-height: 18px;
  }
}

.intro {
  .footer {
    max-width: 600px;
    margin: 0 auto;
  }
}
