#header {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  background-color: #fff;
  z-index: 9999;
  .header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-content {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 130px;
    .logo {
      width: 192px;
    }
    > ul {
      height: 100%;
      display: flex;
      align-items: center;

      gap: 60px;
      > li {
        position: relative;
        width: 72px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        a {
          color: #222;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: -0.2px;
        }
        &.active {
          a {
            color: $green;
          }
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -6px;
            width: 72px;
            height: 2px;
            background-color: $green;
          }
        }
        &:hover {
          a {
            color: $green;
          }
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -6px;
            width: 72px;
            height: 2px;
            background-color: $green;
          }
        }
        &:not(.gnb):hover {
          a {
            color: $green;
          }
          &::before {
            content: none;
          }
        }
      }
    }
  }
  .user-info {
    .sign-btn {
      background-color: #0d1517;
      font-size: 16px;
      border-radius: 30px;
      &:hover {
        background-color: #009982 !important;
        transition: all 0.5s;
      }
    }
  }
  .notice-board {
    position: relative;
    &:hover {
      .gnb-hover {
        display: flex;
      }
    }
    .gnb-hover {
      display: none;
      position: absolute;
      width: 180px;
      top: 40px;
      left: 0;
      border-radius: 8px;
      box-shadow: 1.5px 2.6px 6px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #f5f5f5;
      padding: 22px 20px;
      background-color: #fff;
      flex-direction: column;
      gap: 24px;
      li {
        width: 100%;
        text-align: left;
        position: relative;
        z-index: 1;
        a {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        span {
          font-size: 15px;
          color: #666e6e;
        }
        &:hover {
          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: calc(100% + 20px);
            height: 40px;
            background-color: #f6f7f8;
            border-radius: 6px;
            padding: 10px;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
